%nav.navbar.navbar-default
  .container-fluid
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle.collapsed{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to 'Bookstore', root_path, class: 'navbar-brand'
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        %li
          = link_to 'Books', '#', class: 'navbar-brand'
        - if current_user
          %li 
            = link_to 'Settings', edit_user_registration_path, class: 'navbar-brand'
          %li
            = link_to 'Logout', destroy_user_session_path, method: :delete, class: 'navbar-brand'
        - else 
          %li
            = link_to 'Login', new_user_session_path, class: 'navbar-brand'
          %li
            = link_to 'Register', new_user_registration_path, class: 'navbar-brand'
